li,ul {
	list-style: none;
}
li:hover {
	background-color:#009;
	color:#fff;
}

.rednav{
  background-color: rgb(244, 12, 12);
}

.rednav li {
  display:flex;
  align-items: center;
  justify-content: center;
}